@model IEnumerable<New_Employee_Profile.Models.NewEmployee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
    <thead>
        <tr>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Other Name</th>
            <th>Department</th>
            <th>Section</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/media/newEmployees/@item.ImageName" width="100" alt="" />
                </td>
                <td>
                    @item.FName
                </td>
                <td>
                    @item.LName
                </td>
                <td>
                    @item.OName
                </td>
                <td>
                    @item.Department.Name
                </td>
                <td>
                    @item.Section.Name
                </td>
                <td>
                    @item.Role.Name
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Profile" asp-route-id="@item.Id">Profile</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="confirmDeletion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex w-100 justify-content-center">
    <pagination page-count="@ViewBag.TotalPages"
                page-target="/newEmployees/@ViewBag.EmpTypeSlug"
                page-number="@ViewBag.PageNumber"
                page-range="@ViewBag.PageRange">
    </pagination>
</div>